
.customDiv
{
    background-color:rgb(156, 147, 147);
    padding:10px;
}
.breadcrumb
{
    background-color:#ff0000;
    margin-bottom: 0%;
}
li{
    padding-left:2%;
    padding-right:2%;
    color:#ffffff;
}

.siderRight
{
    text-align: justify;
    font-size:40;
   font-weight: bold;
   color:#ffffff;
}
.formContainer{
    position: absolute;
    top:10vh;
    background-color:#ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px #020202;

}

.btn-primary{
    background-color: #ff0000;
    border-color: #ff0000;
}
.btn-primary:hover{
    color: #ff0000;
}
.largerText{
    padding: 4 rem;
    text-justify: auto;
}
.headingDesign{
    font-family:Bahnschrift SemiBold;
    padding:2vh;
    font-weight: bold;
}
.contactHeading{
    padding: 5vh;
}
.contactWraper{
    position: relative;
    top: 5vh;
}
.card{
    border: 0rem;
}
.crdtextStrong{
    font-weight: bold;
    font-family:Bahnschrift SemiBold;

}
.wraper{
    padding: 2vh;
    background-color: #c2bdbd;
}
.wraper :hover{
color: #ff0000;
}

h3 {
    animation-duration: 8s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
  0% {
    margin-left: 0%;
  }
  50% {
    margin-left: 300px;
  }
  100% {
    margin-left: 0%;
  }
}
.btn-primary:hover{
    color:#ff0000;
}